@font-face {
    font-family: 'Bluu';
    src: url('./assets/FONTS/BluuNext-Titling.otf');
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Bluu';
    text-decoration: none;
    list-style:none;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/background.jpg);
  background-size: cover;
}
.navbar{
    width: 100vw;
    height: 60px;
    background-color: rgba(245, 245, 245, 0.267);
    display: flex;
    justify-content: center;

    }


    .listas {
        display: flex;
        align-items: center;
        gap: 60px;
        color: white;
        font-size: large;
    }


    .navbar1{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.575);
        border-bottom: palegoldenrod 2px solid;
    }

    .navbar1 img{
        width: 120px;
        margin: 20px;
    }
    
    .casas{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .casita{
    color: white;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    }
    .casita:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.5s;
        background-image: url(./assets/gifestrellas.gif);
    }
    .casita:not(:hover){
        transition: 0.5s;
      }

    .escudo{
        height: 300px;
    }

    .animales{
        font-size: x-large;
    }
    .titulocasa{
        border: 2px solid palegoldenrod;
        border-radius: 10px;
        padding: 10px;
    }