@font-face {
  font-family: 'Bluu';
  src: url("./assets/FONTS/BluuNext-Titling.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Bluu';
  text-decoration: none;
  list-style: none;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(./assets/background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.267);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  color: white;
  font-size: large;
}

.navbar1 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.575);
  border-bottom: palegoldenrod 2px solid;
}

.navbar1 img {
  width: 120px;
  margin: 20px;
}

.casas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.casita {
  color: white;
  text-align: center;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
}

.casita:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: url(./assets/gifestrellas.gif);
}

.casita:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.escudo {
  height: 300px;
}

.animales {
  font-size: x-large;
}

.titulocasa {
  border: 2px solid palegoldenrod;
  border-radius: 10px;
  padding: 10px;
}

.personajito {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  height: 500px;
  border: 2px solid wheat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url(./assets/mapa.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(./assets/mapa.jpg);
}

.personajito:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/82fce402-706e-4c0c-907f-1a3480232117/d7k1sul-066dcb53-0862-4247-b73b-e52f1c53e524.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgyZmNlNDAyLTcwNmUtNGMwYy05MDdmLTFhMzQ4MDIzMjExN1wvZDdrMXN1bC0wNjZkY2I1My0wODYyLTQyNDctYjczYi1lNTJmMWM1M2U1MjQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8xEKH15mAK6QiyxWoDdswgsdghxmfdCVUnosE7f5gis");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/82fce402-706e-4c0c-907f-1a3480232117/d7k1sul-066dcb53-0862-4247-b73b-e52f1c53e524.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgyZmNlNDAyLTcwNmUtNGMwYy05MDdmLTFhMzQ4MDIzMjExN1wvZDdrMXN1bC0wNjZkY2I1My0wODYyLTQyNDctYjczYi1lNTJmMWM1M2U1MjQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8xEKH15mAK6QiyxWoDdswgsdghxmfdCVUnosE7f5gis");
  background-size: cover;
  background-position: center;
}

.personajito:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.personajes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  padding: 30px;
}

.foto_personaje {
  max-height: 300px;
  max-width: 300px;
}

.interludio {
  color: white;
  font-size: xx-large;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 150px;
}

.logotipo {
  width: 100px;
}

.casa_edad {
  font-size: large;
}
/*# sourceMappingURL=front.styles.css.map */